*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color:#0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}



.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}



.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    /* transform: rotate(30deg); */
    /* animation: animate 25s linear infinite; */
}

.gallery::after{
    content:"";
    width: 350px;
}
img:hover{
    animation: animate 3s linear infinite;

}

@keyframes animate{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}