*{
    margin: 0;
    padding: 0;
}



#topsection{
    display: flex;
}


ul{
    list-style-type: none;
}

p{
    width: 80%;
    text-align: justify;
    margin: 0 auto;
}
footer{
    margin-top: 20px;
}