@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Exo', sans-serif;
}

.content{
    position: absolute;
    width: 100%;
    top: 50vh;
}

.content h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    /* 背景色 */
    background: #4e54c8;
    background: -webkit-linear-gradient(bottom left, #e3eeff,  #8f94fb);
    width: 100%;
    height: 100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #7a417c33;
    /* 动画属性 
    linear 表示线性过渡，infinite 表示无限循环
    */
    animation: animate 25s linear infinite;
    bottom: -150px;
}

/* 控制背景中的方块大小，位置，开始时间，持续时间 */
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 15s;
}

.circles li:nth-child(4){
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;

}

.circles li:nth-child(5){
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 20s;

}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    animation-duration: 15s;

}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    animation-duration: 27s;

}

.circles li:nth-child(8){
    left: 60%;
    width: 25px;
    height: 25px;
    animation-delay: 4s;
    animation-duration: 20s;

}

.circles li:nth-child(9){
    left: 12%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 22s;

}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;

}

.circles li:nth-child(11){
    left: 35%;
    width: 10px;
    height: 10px;
    animation-delay: 1s;
    animation-duration: 11s;

}


.circles li:nth-child(12){
    left: 90%;
    width: 10px;
    height: 10px;
    animation-delay: 3s;
    animation-duration: 15s;

}


.circles li:nth-child(13){
    left: 16%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
    animation-duration: 18s;

}


.circles li:nth-child(14){
    left: 77%;
    width: 80px;
    height: 80px;
    animation-delay: 3s;
    animation-duration: 21s;

}


.circles li:nth-child(15){
    left: 55%;
    width: 160px;
    height: 160px;
    animation-delay: 0s;
    animation-duration: 11s;

}


.circles li:nth-child(16){
    left: 86%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 11s;

}


.circles li:nth-child(17){
    left: 90%;
    width: 55px;
    height: 55px;
    animation-delay: 4s;
    animation-duration: 20s;

}



/* 创建动画
animate 动画名字
0% 起始时
100% 到达终点时
*/
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}