*{
    margin: 0;
    padding: 0;
}

.canvas{
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #4d0f00;
}

.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
    box-shadow: 0 0 2px 2px black;
    border-radius: 10px;
}
.one{
    width: 425px;
    height: 150px;
    background-color:aqua;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px aqua;
    border-radius: 9px;
    transform: rotate(-0.6deg);
}

.two{
    width: 475px;
    height: 200px;
    background-color:#8f0401;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    border-radius: 10px;
    transform: rotate(0.4deg);
}
.one, .two{
    filter: blur(1px);
}

.three{
    width:91%;
    height: 28%;
    background-color:#b20403;
    margin: auto;
    border-radius:20px;
    box-shadow: 0 0 5px 5px #b20403;
    filter: blur(2px);
    transform: rotate(-0.2deg);
}
